version: '3.8'

services:
  backend:
    build:
      context: ./backend
    environment:
      NODE_ENV: production
      PORT: 4000
    env_file:
      - ./backend/.env
    ports:
      - "4000:4000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
    environment:
      VITE_API_URL: http://backend:4000
    ports:
      - "80:80"
    depends_on:
      - backend

  # Si necesitas base de datos:
  db:
    image: mongo:8
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: inventory
      MONGO_INITDB_ROOT_PASSWORD: inventory
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongodb_data:
